<div style="background-image:url('/assets/key.jpg'); height: 780px; background-size: contain;">

  <div class="container">
    <div class="columns is-centered">
      <div class="box column is-one-third" style="margin-top: 220px;">
       
        <h1 class="title has-text-centered">Typing Challenge</h1>

        <p class="has-text-centered">
          <span 
           *ngFor = "let letter of randomText.split(''); let i = index;"
           [class]="compare(letter, enteredText[i])"
          >{{letter}}</span>
        </p>

        <div class="field">
          <input class="input" (input)="onInput($event.target.value)"/>
      </div>

      <div class="box has-text-centered" *ngIf="onTextEquals()">
        <h2 class="title" style="color:green;">Success!</h2>
      </div>
    </div>
  </div>

</div>